<!-- Navbar -->
<nav class="navbar navbar-expand-lg momo-navbar">
    <div class="container-fluid">

        <a class="navbar-brand momo-brand" href="/">
            MOMO AGENDA
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-3">

                {{#if isAdmin}}

                    <a class="nav-link momo-link {{isActive '/admin' currentPath}}" href="/admin">
                        Panel Administración
                    </a>

                    <a class="nav-link momo-link {{isActive '/admin/usuarios' currentPath}}" href="/admin/usuarios">
                        Usuarios
                    </a>

                    <a class="nav-link momo-link {{isActive '/admin/modoscript' currentPath}}" href="/admin/modoscript">
                        Modoscript
                    </a>

                    <a class="nav-link momo-link" href="/logout">
                        Cerrar Sesión
                    </a>

                {{else}}

                    {{#if loggedIn}}

                        <a class="nav-link momo-link {{isActive '/horario' currentPath}}" href="/horario">
                            Horario
                        </a>

                        <a class="nav-link momo-link {{isActive '/agenda' currentPath}}" href="/agenda">
                            Agenda
                        </a>

                        <a class="nav-link momo-link {{isActive '/materias' currentPath}}" href="/materias">
                            Materias
                        </a>

                        <a class="nav-link momo-link" href="/logout">
                            Cerrar Sesión
                        </a>

                    {{else}}

                        <a class="nav-link momo-link {{isActive '/' currentPath}}" href="/">
                            Inicio
                        </a>

                        <a class="nav-link momo-link {{isActive '/login' currentPath}}" href="/login">
                            Iniciar Sesión
                        </a>

                        <a class="nav-link momo-link {{isActive '/registro' currentPath}}" href="/registro">
                            Registro
                        </a>

                    {{/if}}

                {{/if}}

            </div>
        </div>

    </div>
</nav>