<h1 class="titulo-horario">
    HORARIO
</h1>

<table class="tabla-horario">

<tr>

    <th>HORA</th>

    {{#each dias}}
        <th>{{this}}</th>
    {{/each}}

</tr>

{{#each filas}}

<tr>

    <td class="hora-columna">
        {{hora}}
    </td>

    {{#each dias}}

        {{#if mostrar}}

            <td
                rowspan="{{rowspan}}"
                class="bloque-materia"
                style="background-color: {{color}};"
            >

                <strong>
                    {{materia}}
                </strong>

                <br>

                <small>
                    {{profesor}}
                </small>

            </td>

        {{/if}}

    {{/each}}

</tr>

{{/each}}
```

</table>

<hr class="separador-momo">

<div class="row mt-4">

```
<div class="col">

    <h3 class="subtitulo-momo">
        Agregar horario
    </h3>

    <form action="/horario/nuevo" method="POST">

        <label class="label-momo">
            Materia
        </label>

        <select
            name="materia_id"
            class="form-select"
        >

            {{#each materias}}

                <option value="{{this.id}}">
                    {{this.nombre}}
                </option>

            {{/each}}

        </select>

        <br>

        <label class="label-momo">
            Día
        </label>

        <select
            name="dia"
            class="form-select"
        >

            <option>Lunes</option>
            <option>Martes</option>
            <option>Miercoles</option>
            <option>Jueves</option>
            <option>Viernes</option>

        </select>

        <br>

        <label class="label-momo">
            Inicio
        </label>

        <input
            type="time"
            name="hora_inicio"
            class="form-control"
        >

        <br>

        <label class="label-momo">
            Fin
        </label>

        <input
            type="time"
            name="hora_fin"
            class="form-control"
        >

        <br>

        <button
            type="submit"
            class="btn-momo"
        >
            Agregar Horario
        </button>

    </form>

</div>

<div class="col">

    <h3 class="subtitulo-momo">
        Bloques actuales
    </h3>

    <table class="tabla-bloques">

        <thead>

            <tr>

                <th>Materia</th>
                <th>Día</th>
                <th>Hora</th>
                <th>Acciones</th>

            </tr>

        </thead>

        <tbody>

            {{#each horarios}}

            <tr>

                <td>

                    <span
                        class="badge"
                        style="
                            background-color:
                            {{this.color}};
                        "
                    >

                        {{this.nombre}}

                    </span>

                </td>

                <td>
                    {{this.dia}}
                </td>

                <td>

                    {{this.hora_inicio}}
                    -
                    {{this.hora_fin}}

                </td>

                <td>

                    <a
                        href="/horario/editar/{{this.id}}"
                        class="btn btn-warning btn-sm"
                    >
                        Editar
                    </a>

                    <form
                        action="/horario/eliminar/{{this.id}}"
                        method="POST"
                        style="display:inline;"
                    >

                        <button
                            type="submit"
                            class="btn btn-danger btn-sm"
                        >
                            Eliminar
                        </button>

                    </form>

                </td>

            </tr>

            {{/each}}

        </tbody>

    </table>

</div>
```

</div>
