<h1>Horario</h1>

<table border="1">
  <tr>
    <th>Hora</th>
    {{#each dias}}
      <th>{{this}}</th>
    {{/each}}
  </tr>

  {{#each filas}}
  <tr>
    <td>{{hora}}</td>

    {{#each dias}}
      {{#if mostrar}}
        <td rowspan="{{rowspan}}" style="background-color: {{color}};" >
            <strong>{{materia}}</strong><br>
            <small>{{profesor}}</small>
        </td>
      {{/if}}
    {{/each}}

  </tr>
  {{/each}}
</table>